# This workflow helps ensure that generated innards of `dist` directory match what we expect them to be.
# The `dist` is a particular directory in Actions that contains distributable JS files.
# In Actions, the `dist` is generated through a build process from other source files.

name: Check dist

on:
  workflow_call:
    inputs:
      dist-path:
        description: "Optional input to set a path to the dist folder. If it's not set, it defaults to './dist'"
        required: false
        type: string
        default: "./dist"
      node-version:
        description: "Optional input to set the version of Node.js used to build a project. The input syntax corresponds to the setup-node's one"
        required: false
        type: string
        default: "24.x"
      node-caching:
        description: "Optional input to set up caching for the setup-node action. The input syntax corresponds to the setup-node's one. Set to an empty string if caching isn't needed"
        required: false
        type: string
        default: "npm"

jobs:
  check-dist:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup Node.js ${{inputs.node-version}}
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: ${{inputs.node-version}}
          cache: ${{inputs.node-caching}}

      - name: Install dependencies
        run: npm ci --ignore-scripts

      - name: Rebuild the dist directory
        run: npm run build

      - name: Compare the expected and actual dist directories
        run: |
          if [ "$(git diff --ignore-space-at-eol ${{inputs.dist-path}} | wc -l)" -gt "0" ]; then
            echo "Detected uncommitted changes after the build. See the status below:"
            git diff
            exit 1
          fi
        id: diff

      # If inners of the dist directory were different than expected, upload the expected version as an artifact
      - name: Upload artifact
        if: ${{failure() && steps.diff.conclusion == 'failure'}}
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: dist
          path: ${{inputs.dist-path}}
